@use '../global' as *;

.banner {

    &__wrapper {
        position: relative;
        background-image: url(../../images/banner/banner.webp);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;

    }

    &__body {
        padding: 170px 0 100px 0;
        max-width: 2560px;
        margin: 0 auto;
        position: relative;

        &::after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 2px;
            background: linear-gradient(90deg, rgba(251, 2, 2, 0.00) 0%, #FB0202 51.1%, rgba(251, 2, 2, 0.00) 100%);
            z-index: 1;
        }

        @media #{$xxxl-device-only} {
            min-height: 833px;
            max-height: 833px;
        }

        @media #{$xxl-device} {
            padding: 120px 0 80px 0;
        }

        @media #{$xl-device} {
            padding: 75px 0 80px 0;
        }

        @media #{$lg-device} {
            aspect-ratio: auto;
            padding: 120px 0 100px 0;
        }

        @media #{$md-device} {
            padding: 120px 0 100px 0;
        }

        @media #{$xs-device} {
            padding: 40px 0 300px 0;
        }
    }

    &__content {
        position: relative;
        z-index: 1;

        @media #{$xxl-device} {
            margin-right: -10px;
            max-width: 880px;
        }

        &-width {
            margin-right: -124px !important;

            @media #{$xxl-device} {
                margin-right: -10px !important;
                max-width: 65%;
            }

            @media #{$sm-device} {
                margin-right: 0 !important;
                max-width: 100%;
            }
        }
    }

    &__hero-img {
        position: absolute;
        bottom: 0;
        left: 0;

        @media #{$lg-device} {
            width: 100%;
            height: auto;
        }

        @media #{$xxxl-device-only} {
            max-width: auto;
        }
        @media #{$xxxl-device} {
            max-width: 640px;
        }

        @media #{$xxl-device} {
            max-width: 520px;
        }

        @media #{$xl-device} {
            max-width: 445px;
        }

        @media #{$lg-device} {
            max-width: 440px;
        }

        @media #{$md-device} {
            max-width: 350px;
        }

        @media #{$sm-device} {
            max-width: 270px;
            margin: 0 auto;
        }
    }

    // &__content-round-shape {
    //     position: absolute;
    //     bottom: -180px;
    //     left: -120px;
    //     width: 268px;
    //     height: 268px;
    //     border-radius: 50%;
    //     background: var(--color-white);
    //     filter: blur(42px);
    //     z-index: 1;

    //     @media #{$md-device} {
    //         bottom: -220px;
    //         left: -150px;
    //     }

    //     @media #{$sm-device} {
    //         bottom: -220px;
    //         left: -180px;
    //     }
    // }


    &__title {
        color: var(--color-white);
        text-align: center;
        font-family: "American Scribe", "Spectral", serif;
        font-size: 130px;
        font-style: normal;
        font-weight: 400;
        line-height: 1;
        text-transform: capitalize;
        margin-bottom: 0;

        @media #{$xl-device} {
            font-size: 60px;
        }

        @media #{$md-device} {
            font-size: 50px;
        }

        @media #{$sm-device} {
            font-size: 30px;
        }
    }

    &__content-img {
        margin-top: 40px;

        @media #{$xxl-device} {
            max-width: 90%;
        }

        @media #{$xxxl-device} {
            max-width: 80%;
        }

        @media #{$lg-device} {
            margin-top: 20px;
            max-width: 90%;
        }

        @media #{$md-device} {
            margin-top: 15px;
        }
    }

    &__content-img-top {
        @media #{$xxl-device} {
            max-width: 75%;
        }

        @media #{$xxxl-device} {
            max-width: 75%;
        }

        @media #{$lg-device} {
            max-width: 75%;
        }
    }

    &__subtitle {
        color: var(--color-light);
        text-align: center;
        font-family: "Jost", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
        font-size: 50px;
        font-weight: 700;
        line-height: 1.12;
        margin-top: 50px;

        @media #{$xxxl-device} {
            font-size: 45px;
        }

        @media #{$xxl-device} {
            font-size: 40px;
        }

        @media #{$xl-device} {
            font-size: 35px;
            margin-top: 30px;
        }

        @media #{$lg-device} {
            font-size: 30px;
            margin-top: 20px;
        }

        @media #{$md-device} {
            font-size: 22px;
            margin-top: 20px;
        }

        @media #{$sm-device} {
            font-size: 16px;
            margin-top: 15px;
        }

        &-span {
            color: var(--color-secondary-alt);
            display: block;
        }
    }


    &__desc {
        color: rgba(from var(--color-white) r g b / .8);
        text-align: center;
        font-size: 22px;
        font-weight: 400;
        line-height: 1.33;
        margin-top: 50px;

        @media #{$sm-device} {
            font-size: 18px;
            margin: 0 0 20px 0;
        }
    }

    &__btn {
        display: flex;
        align-items: center;
        gap: 10px;
        font-size: 20px;
        font-weight: 400;
        border-radius: 100px;
        color: var(--color-white) !important;
        border: 1px solid var(--color-primary);
        box-shadow: 0px 4px 12px 0px rgba(from var(--color-primary) r g b / .2);
        padding: 18px 36px;
        transition: var(--transition-2);

        @media #{$sm-device} {
            font-size: 16px;
        }

        @media #{$xxl-device} {
            padding: 8px 24px;
        }

        &:hover {
            transition: var(--transition-2);
            background: var(--color-primary);
            box-shadow: none;
        }
    }
}