@use '../global' as *;

.team {
    &__img {
        border-radius: 8px;
        height: 100%;
        object-fit: cover;
    }

    &__card {
        margin: 0;

        &:hover &-icon {
            transform: translate(-14px, -12px);
            transition: var(--transition-2);
            opacity: 1;
            visibility: visible;
        }

        &:hover &-img {
            img {
                transform: scale(1.02);
            }
        }

        &-img {
            position: relative;
            overflow: hidden;
            border-radius: 4px;

            &::before {
                position: absolute;
                content: "";
                width: 100%;
                height: 100%;
            }

            img {
                border-radius: 4px;
                transition: var(--transition-2);
                width: 100%;
            }
        }

        &-slider {
            padding: 50px 0 52px 0;
            @media #{$md-device} {
                padding: 20px 0 36px 0;
            }
            .swiper-scrollbar {
                position: relative;
                max-width: 648px !important;
                margin: 0 auto;
                transform: translate(0, 50px);
                background: rgba(from var(--color-secondary) r g b / .1);
                cursor: pointer;
                @media #{$md-device} {
                    transform: translate(0, 38px);
                }
                .swiper-scrollbar-drag {
                    background: var(--color-primary);
                }
            }
        }

        &-icon {
            border-radius: 8px;
            border: 2px solid rgba(from var(--color-white) r g b / .04);
            background: rgba(from var(--color-white) r g b / .06);
            backdrop-filter: blur(8px);
            // margin: 0 10px 10px 0;
            padding: 10px 11px;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: var(--transition-2);
            transform: translate(-14px, -6px);
            opacity: 0;
            visibility: hidden;

            i {
                background: var(--gradient-4);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                display: inline-block;
            }
        }

        &-body {
            margin: 16px 0 0 0;

            &--link {
                color: var(--color-secondary);
                font-size: 24px;
                font-weight: var(--fw-bold);
                line-height: 1;
                margin: 0;
                @media #{$sm-device} {
                    font-size: 20px;
                }
            }

            &--text {
                color: var(--color-dark-100);
                font-size: 18px;
                font-weight: var(--fw-regular);
                line-height: 1;
                margin: 8px 0 0 0;
                @media #{$sm-device} {
                    font-size: 16px;
                    margin-top: 4px;
                }
            }
        }
    }

    &__details {
        &-head {
            li {
                span {
                    color: var(--color-secondary);
                    font-size: 48px;
                    font-weight: 700;
                    line-height: 1.25;
                    text-transform: capitalize;

                    @media #{$lg-device} {
                        font-size: 32px;
                    }
                }
            }
        }
    }

    &__about {
        &-desc {
            color: var(--color-dark-100);
            font-size: 16px;
            font-weight: var(--fw-regular);
            line-height: 1.6;
        }
    }

    &__btn3d {
        &-text {
            padding: 19px 76px;
        }
    }

    &__bg-light {
        position: relative;

        &::after {
            position: absolute;
            content: "";
            width: 430px;
            height: 95px;
            background: var(--gradient-4);
            filter: blur(110px);
            transform: rotate(-126.105deg);
            right: 50%;
            top: 0%;
            z-index: -1;
        }
    }
}